/* Registration page*/
/*.background{
  background: url("./img/hawassabg.jpg" ) no-repeat;
}*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/* login */ 
.login_background{
  background:url("img/hawassa1.jpg") repeat 0 0;
  }



.padding{
  padding-bottom: 10px;
}

.radio-inline{
  padding-right: 5px;
}
/* login end*/


html, body {
  height: 100%;
  width: 100%;
  font-family: 'poppins' , san-serif;
  color: #222;
}

.navbar {
  padding: .8rem;
}

.navbar-nav li{
  padding: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}
.carousel-inner img{
  width: 100%;
  height: 100%;
}
.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
}




/*-- Archive.html --*/
 
body{
  background-color: #ebeff5;
}

#residential-owners {
  background-color: #4cb4c7;
}

#corporate-owners{
  background-color: #7abecc;
}


.map_archive{
  height: 220px;

}


.owner_icon{
  height: 115px;
  width: 115px;
}




/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








