


{% load static %}

<!DOCTYPE html>

{% load geojson_tags %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Land Info Owner</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
	<link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css"> 
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
 	<div class="container-fluid">
 		<a class="navbar-brand " href="#"><img src="{% static '/images/hawassalogo.jpg' %}"></a>
 		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
 			<span class="navbar-toggler-icon"></span>
 		</button> 
 		<div class="collapse navbar-collapse" id="navbarResponsive">
 			<ul class= "navbar-nav ml-auto">
 				<li class="nav-item">
 					<a class= "nav-link" href="{% url 'owner_page' %}">Home</a>
 				</li>
 			</ul>
 		</div>
    </div>
</nav>
<div class="row">
	<div style="padding-left: 53px; padding-top: 15px;">
	<h6>Documented Area of Parcel    : </h6><h6 style="color: brown;"> {{his_area}}</h6>	
	</div>
</div>
	<hr>
	<div style="padding-left: 40px;">	
		<h6>Type of ownership   : </h6><h6 style="color: brown;"> {{ownership_type}}</h6>
		
	</div>
	<hr>	
	<div style="padding-left: 40px;">
		<h6>Privacy Status   : </h6><h6 style="color: brown;"> {{visibility}}</h6>	
	</div>
</body>	
</html>